 /* Custom styles for the side navigation menu */
 .side-nav {
     height: 100vh;
     width: 250px;
     background-color: #343a40;
     color: #fff;
     position: fixed;
     top: 56px;
     /* Adjust the top value to match the height of the header */
     left: 0;
     z-index: 1;
     overflow-y: auto;
 }

 .side-nav .nav-link {
     color: #fff;
 }

 .side-nav .nav-link:hover {
     color: #f8f9fa;
 }

 .side-nav .nav-link.active {
     font-weight: bold;
 }

 /* Custom styles for the main content area */
 .main-content {
     padding: 1rem;
     overflow-y: auto;
     height: calc(100vh - 56px);
     /* Subtract the height of the header */
     margin-left: 250px;
     margin-top: 56px;
     /* Add margin to avoid overlapping with the header */
     width: 100%;
 }

 /* Flexbox layout */
 .flex-container {
     display: flex;
 }

 /* Custom styles for the header */
 .fixed-top {
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 2;
     /* Ensure the header appears above the other elements */
 }